*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(41, 52, 67);
    padding: 20px;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation{
    display: flex;
    gap: 15px;
}

.hero{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: rgb(41, 52, 67);
    color: white;
}

.hero-text{
    display: flex;
    max-width: 300px;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.hero h1{
    font-size: 30px;
    font-weight: bold;
}

button{
    width: 100px;
    background-color: rgb(41, 41, 143);
    color: inherit;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.font{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

img{
    width: 200px;
    height:150px;
}

h1.font{
    font-size: 20px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

.information-text{
    font-weight: bold;
    font-size: 20px;
}

.information .images {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-grow: 1;
}

.image-1,
.image-2,
.image-3,
.image-4{
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
}

.quote{
    background-color: rgb(197, 193, 193);
    height:200px;
    display:flex;
    justify-content:center;
    align-items: center;
    }

    .quote .reference {
        align-self: flex-end;
        font-weight: bold;
    }

    .citation-box{
    padding: 30px;
    max-width: 40%;
    display:flex; 
    flex-direction: column;
    }

    .end {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    .sign-up{
        display: flex;
        justify-content: space-around;
        width: 800px;
        padding: 20px;
        background-color: rgb(97, 158, 251);
        gap: 10px;
        border: none;
        border-radius: 5px;
        color: white; 
    }

    button.sign-up{
        border: white;
        border-radius: 5px;
        width: 100px;
        height: 40px;
        align-items: center;
        border-style: solid;
        background-color: rgb(97, 158, 251);;

    }